<div class="componentBorder">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div>
            <input data-id="loginInput"
                placeholder="{{'login.LOGIN_PLACEHOLDER' | transloco}}" 
                formControlName="login"/>
            @if(loginForm.controls.login.errors && loginForm.controls.login.dirty) {
                @if(loginForm.controls.login.errors['requiredAfterTrim']) {
                    <div data-id="loginErrorEmpty">{{'login.VALIDATION_ERRORS.EMPTY_VALUE' | transloco}}</div>
                }
            }
        </div>
        <div>
            <input data-id="passwordInput"
                placeholder="{{'login.PASSWORD_PLACEHOLDER' | transloco}}" 
                type="password" 
                formControlName="password"/>
            @if(loginForm.controls.password.errors && loginForm.controls.password.dirty) {
                @if(loginForm.controls.password.errors['required']) {
                    <div data-id="passwordErrorEmpty">{{'login.VALIDATION_ERRORS.EMPTY_VALUE' | transloco}}</div>
                }
            }
        </div>
        @if(incorrectLoginOrPassword) {
            <div data-id="incorrectCreds">{{'login.INVALID_CREDS' | transloco}}</div>
        }
        <button data-id="loginButton"
            [disabled]="loginForm.invalid"
            type="submit">{{'login.LOGIN_BUTTON_LABEL' | transloco}}</button>
    </form>
</div>