<div class="flex-container-row full-height flex-container-content-center flex-container-items-center">
  <mat-card style="width: 30%">
    <mat-card-content>
      <div>
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onLogin()"
        >
          <mat-form-field style="width: 100%">
            <mat-label>{{'login.LOGIN_PLACEHOLDER' | transloco}}</mat-label>
            <input
              matInput
              data-id="loginInput"
              formControlName="login"
            />
            @if(loginForm.controls.login.errors?.['requiredAfterTrim']) {
              <mat-error data-id="loginErrorEmpty">{{'VALIDATION_ERRORS.EMPTY_VALUE' | transloco}}</mat-error>
            }
          </mat-form-field>

          <mat-form-field style="width: 100%">
            <mat-label>{{'login.PASSWORD_PLACEHOLDER' | transloco}}</mat-label>
            <input
              data-id="passwordInput"
              matInput
              type="password"
              formControlName="password"
            />
            @if(loginForm.controls.password.errors?.['required']) {
              <mat-error data-id="passwordErrorEmpty">{{'VALIDATION_ERRORS.EMPTY_VALUE' | transloco}}</mat-error>
            }
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            data-id="loginButton"
            style="width: 100%"
            [disabled]="loginForm.invalid"
            type="submit"
          >
            {{'login.LOGIN_BUTTON_LABEL' | transloco}}
          </button>
          @if(incorrectLoginOrPassword) {
          <mat-error
            data-id="incorrectCreds"
            class="text-align-center margin-top"
          >{{'login.INVALID_CREDS' | transloco}}</mat-error>
          }
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>