<div class="flex-container-row full-height flex-container-content-center flex-container-items-center">
    <mat-card style="width: 30%">
        <mat-card-content>
            <form
                [formGroup]="contractForm"
                (ngSubmit)="onSave()"
            >
                <mat-form-field style="width: 100%">
                    <mat-label>{{'contract.CONTRACT_NUMBER_PLACEHOLDER' | transloco}}</mat-label>
                    <input
                        matInput
                        data-id="numberInput"
                        formControlName="number"
                    />
                    @if(contractForm.controls.number.errors?.['requiredAfterTrim']) {
                        <mat-error data-id="numberErrorEmpty">{{'VALIDATION_ERRORS.EMPTY_VALUE' | transloco}}</mat-error>
                    }
                </mat-form-field>

                <mat-form-field style="width: 100%">
                    <mat-label>{{'contract.CONTRACT_CONDITIONS_PLACEHOLDER' | transloco}}</mat-label>
                    <textarea
                        matInput
                        data-id="conditionsInput"
                        formControlName="conditions"
                    ></textarea>
                    @if(contractForm.controls.conditions.errors?.['requiredAfterTrim']) {
                        <mat-error data-id="conditionsErrorEmpty">{{'VALIDATION_ERRORS.EMPTY_VALUE' | transloco}}</mat-error>
                    }
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button
                mat-raised-button
                color="primary"
                data-id="saveContractButton"
                [disabled]="contractForm.invalid"
                type="submit"
                class="margin-end"
            >{{'SAVE_BUTTON_LABEL' | transloco}}</button>
            <button
                mat-raised-button
                data-id="cancelSaveContractButton"
                type="reset"
                (click)="onCancelCreate()"
            >{{'CANCEL_BUTTON_LABEL' | transloco}}</button>
        </mat-card-actions>
    </mat-card>
</div>